<h1>Listing mobile_phones</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Rank</th>
    <th>Price</th>
    <th>Spec</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mobile_phones.each do |mobile_phone| %>
  <tr>
    <td><%= image_tag(mobile_phone.image_url, :class => 'list_image') %></td>
    <td><%= mobile_phone.name %></td>
    <td><%= mobile_phone.brand_id %></td>
    <td><%= mobile_phone.model %></td>
    <td><%= mobile_phone.rank %></td>
    <td><%= mobile_phone.price %></td>
    <td><%= mobile_phone.spec %></td>
    <td><%= mobile_phone.description %></td>
    <td><%= link_to 'Show', mobile_phone %></td>
    <td><%= link_to 'Edit', edit_mobile_phone_path(mobile_phone) %></td>
    <td><%= link_to 'Destroy', mobile_phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mobile phone', new_mobile_phone_path %>
