<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mobile_phone.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @mobile_phone.brand_id %>
</p>

<p>
  <b>Model:</b>
  <%= @mobile_phone.model %>
</p>

<p>
  <b>Rank:</b>
  <%= @mobile_phone.rank %>
</p>

<p>
  <b>Price:</b>
  <%= @mobile_phone.price %>
</p>

<p>
  <b>spec:</b>
  <%= @mobile_phone.spec %>
</p>

<p>
  <b>Description:</b>
  <%= @mobile_phone.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @mobile_phone.image_url %>
</p>


<%= link_to 'Edit', edit_mobile_phone_path(@mobile_phone) %> |
<%= link_to 'Back', mobile_phones_path %>
