<script type='text/javascript'>
 window.onload=function(){
	addHotProductNode();
	registerHotProductNavBtn();
	//addPListToProductNode();
	//addDetailBoxToProductNode();
 }
 
 function addHotProductNode(){
	var hpz_header = document.getElementById("hpz_header");
    var introEl=document.createElement("div"); 
	introEl.className="intro";
	hpz_header.appendChild(introEl); 
	var txtNode=document.createTextNode("最新产品"); 
	introEl.appendChild(txtNode);
 }
 
 var navBtnList = new Array();
 
 function registerHotProductNavBtn(){
    
	var u1Node = document.getElementById("navBtnList");
	var liList = u1Node.getElementsByTagName("li");
	for(var i=0; i<liList.length; i++)
	{
		var linkNode = liList[i].getElementsByTagName("a").item(0);
		var linkButton = new Button(linkNode);
		linkButton.index = i;
		navBtnList[i] = linkButton;
	}
	
 }

 
 function Button(element)
 {
	this.element = element;
	this.element.buttonObj = this;
	this.element.onclick = this.clickHandle;
 }
 
 Button.prototype.clickHandle = function(){
     for(var i=0; i<navBtnList.length; i++)
	 {
		
		var imageId = "detailImage" + i;
		
		var hpz_mainNode = document.getElementById("hpz_main");
        var detailImageList = hpz_mainNode.getElementsByTagName("img");
		var imageNode;
		if(this.buttonObj.index == i)
		{
			imageNode = detailImageList[i];
			imageNode.style.display = "block";
		}
		else
		{
			imageNode = detailImageList[i];
			imageNode.style.display = "none";
		}
	    
	 }
 }
 
 
</script>
<div id="hotProductZone">
<div id="hpz_header"></div>
<div id="hpz_main">
	<u1 id = "navBtnList" class="productsList">
<% @products.each do |product|%>
	<li>
		<a><%= product.title %></a>
	</li>
<% end %>
	</u1>
<% @products.each do |product|%>
	<div class="detail">
		<img style="display:none" src=<%= product.image_url %>>
	</div>
<% end %>
</div>
<div id="hpz_footer"></div>	
</div>

<div id="commentsList">
<% if notice %>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
<div class="entry">
  <%= image_tag(product.image_url) %>
  <h3><%= product.title %></h3>
  <%= sanitize product.description %>
  <div class="price_line">
    <span class="price"><%= number_to_currency(product.price) %></span>
  </div>
</div>
<% end %>
</div>
