<!DOCTYPE html>
<html>
  <head>
    <title>GouWuKuang</title>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "hotproduct"%>
	<%= stylesheet_link_tag "facebox"  %>
    <%= stylesheet_link_tag "shopping", :media => "all" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "rails"%>
	<%= javascript_include_tag "facebox"%>	
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
	
  </head>
  <body id="main">
    <div id="header">
      <div id="banner">
        <!-- <%= image_tag("logo.png") %> -->
        <%= @page_title || "购物狂" %>
      </div>
      <div id="navi">
        <div class="leftNavi">
          <u1>
            <li>
              <%= link_to "首页", default_path %>
            </li>
            <li>
              <a href="http://localhost:3000/products">排行榜</a>
            </li>
            <li>
			  <%= link_to "好友的宝贝", posts_path %>
            </li>
            <li>
              <%= link_to "产品库", :controller => "store", :action => "index" %>
            </li>
          </u1>
        </div>
        <div class="rightNavi">
          <u1>
            <% if session[:user] %>
            <li>
              <%= link_to "退出", :controller => "sessions", :action => "destroy" %>
            </li>
            <li>
              <%= "欢迎回来 #{session[:user].name}" %>
            </li>
            <% else %>
            <% if request.url != login_url%>
            <li>
              <%= link_to "注册", :controller => "users", :action => "new" %>
            </li>
            <li>
              <%= link_to "登录", {:controller => "sessions", :action => "new"},  :id => 'login-link'%>
            </li>
            <% end %>
            <% end %>
          </u1>
        </div>
      </div>
    </div>
    <div id="container">
      <div id="columns">
        <div id="sidebar">
          <div class="popList">
            <div class="box-t">
              <span class="box-tl"></span>
              <span class="box-tm"></span>
              <span class="box-tr"></span>
            </div>
            <div class="box-wrap">
              <div class="box-cont">
                <h3>热评产品</h3>
                <ul class="invite-list draw-list">
                  <li>
                    iPad
                  </li>
                </ul>
              </div>
            </div>
            <div class="box-b">
              <span class="box-bl"></span>
              <span class="box-bm"></span>
              <span class="box-br"></span>
            </div>
          </div>
          <div class="spline"></div>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>