<!DOCTYPE html>
<html>
<head>
  <title>GouWuKuang</title>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "shopping", :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
	<style type="text/css">
	
	   .box{
			width:40em;
			background:#effce7 url(images/bottom-left.gif) no-repeat left bottom
		}
	   .box_outer{
			background: url(images/bottom-right.gif) no-repeat right bottom
		}
		.box_inner{
			background: url(images/top-left.gif) no-repeat left top
		}
		.box_room{
			background: url(images/top-right.gif) no-repeat right top
		}
		
	    #navi a
	    {
			display: block;
			font:  150% sans-serif;
			color: #226;
		}
		
		#navi a:hover {
			color: white;
			background: #226;
			cursor: pointer;
		}
		
		u1
		{
			padding: 0;
			margin:0;
			float: left;
            list-style: none;
			width: 100%;
			border-bottom: #77d dotted 5px;
		}
		
		u1 li
		{
			
			float: left;
			padding-right:1em;
		}
		
	</style>
</head>
<body id="store">
    <div id="banner">
        <%= image_tag("logo.png") %>
        <%= @page_title || "购物狂" %>
    </div>
    <div id="columns">
        <div id="side">
            <a href="http://www....">Home</a>
            <br />
            <a href="http://www..../faq">Questions</a>
            <br />
            <a href="http://www..../news">News</a>
            <br />
            <a href="http://www..../contact">Contact</a>
            <br />
        </div>
		<!--
		<div id="navi">
		    <p>test</p>
			<!--
			<u1>
				<li><a>首页</a></li>
			    <li><a>我的宝贝</a></li>
				<li><a>好友的宝贝</a></li>
				<li><a>宝贝库</a></li>
			</u1>
			
		</div>
		-->
        <div id="main">
			<div id="navi">
			<u1>
				<li><a>首页</a></li>
			    <li><a>我的宝贝</a></li>
				<li><a>好友的宝贝</a></li>
				<li><a>宝贝库</a></li>
				
			</u1>
			</div>
			  <!--
				<a>首页</a>
			    <a>我的宝贝</a>
				<a>好友的宝贝</a>
				<a>宝贝库</a>
				-->
			<div id="content">
            <%= yield %>
			</div>
        </div>
    </div>
</body>
</html>
